---
layout: default
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title | default: "Kyle Kovacs" }}</title>
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <script src="{{ "/assets/main.js" | relative_url }}"></script>
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$']]
        }
      };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {% seo %}
  </head>
  <body>
    <header>
      <h1 class="project-name">{{ page.title | default: site.title | default: "Kyle Kovacs" }}</h1>
      <nav>
        <a href="{{ "/" | relative_url }}">Home</a>
        <a href="{{ "/portfolio" | relative_url }}">Portfolio</a>
        <a href="{{ "/blog" | relative_url }}">Blog</a>
      </nav>
    </header>

    <main id="content">
      {{ content }}
    </main>

    <footer>
      <span class="site-footer-owner">View <a href="{{ site.github.repository_url }}">this website</a> on GitHub.</span>
    </footer>
  </body>
</html>
